@import '@fortawesome/fontawesome-free/css/all.min.css';
@import "tailwindcss";

@layer base {
  body {
    margin: 0;
    font-family: ui-sans-serif, system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f9fafb;
    color: #111827;
  }
}

@layer utilities {
  .gradient-primary {
    background: linear-gradient(135deg, #0b2f5f 0%, #0a3a7a 100%);
  }
  
  .gradient-secondary {
    background: linear-gradient(135deg, #0b2f5f 0%, #0a3a7a 100%);
  }
}

